<section class="thirteen columns">
    <h1>About Me</h1>
    <article>
      <p>I'm a fourth-year PhD student at the University of Massachusetts Amherst, advised by Prof. <a href="https://people.cs.umass.edu/~smaji/index.html">Subhransu Maji</a>. My research focuses on building reliable, statistically grounded AI systems for scientific discovery. In particular, I develop human-in-the-loop methods that combine AI models with principled sampling and estimation techniques to produce unbiased, data-efficient measurements at scale. More broadly, I am interested in how machine learning can extend scientific reach, especially in settings where labeled data is scarce or expensive </p>
      <p>Before joining UMass, I received my Master's and Undergraduate degress from the University of Michigan, where I did research on Video Prediction and 3D Computer Vision. During that time, I worked with Professors <a href="https://andrewowens.com/">Andrew Owens</a>, <a href="https://cs.nyu.edu/~fouhey/">David Fouhey</a>, and <a href="https://www.cs.princeton.edu/~jiadeng/">Jia Deng</a>.</p>
    </article>
</section>
