<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>PhD in Computer Science</h1>
            <span>University of Massachusetts - Amherst</span>
            <span><address>Amherst, MA</address><time>2022 to Present</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>MSE in Computer Science</h1>
            <span>University of Michigan</span>
            <span><address>Ann Arbor, MI</address><time>2020 to 2022</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>BSE in Computer Science</h1>
            <span>University of Michigan</span>
            <span><address>Ann Arbor, Michigan</address><time>2016 to 2020</time></span>
        </header>
        <p>
            <em>Minor in Mathematics</em>
        </p>
    </article>
</section>
