<section class="thirteen columns">
    <h1>Research Experience</h1>
    <article>
        <header>
            <h1>Graduate Research Assistant, Computer Vision Lab</h1>
            <span><address>University of Massachusetts - Amhsert</address><time>2022 to Present</time></span>
        </header>
        <p>
            Supervisor: <a href="https://people.cs.umass.edu/~smaji/">Prof. Subhransu Maji</a>
        </p>
    </article>
    <article>
        <header>
            <h1>Graduate Research Assistant, Owens Research Group</h1>
            <span><address>University of Michigan</address><time>2021 to 2022</time></span>
        </header>
        <p>
            Supervisor: <a href="https://andrewowens.com/">Prof. Andrew Owens</a>
        </p>
    </article>
    <article>
        <header>
            <h1>Undergraduate Research Assistant, Fouhey AI Lab</h1>
            <span><address>University of Michigan</address><time>2019 to 2021</time></span>
        </header>
        <p>
            Supervisor: <a href="https://web.eecs.umich.edu/~fouhey/">Prof. David Fouhey</a>
        </p>
    </article>
    <article>
        <header>
            <h1>Undergraduate Research Assistant, Vision and Learning Lab</h1>
            <span><address>University of Michigan</address><time>2018 to 2019</time></span>
        </header>
        <p>
            Supervisor: <a href="https://www.cs.princeton.edu/~jiadeng/">Prof. Jia Deng</a>
        </p>
    </article>
</section>
