<section class="thirteen columns">
    <h1>Programming Skills</h1>
    <article>
        <header>
            <h1>Languages</h1>
        </header>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
            &nbsp;&nbsp;<em>Python</em> & <em>C++</em>
        </p>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>PHP</em>, <em>Javascript</em>, <em>SQL</em>, <em>Java</em>, & <em>Matlab</em>
        </p>
        <p>
            <i class="fa fa-star"><i class="fa fa-star-o"><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>Prolog</em>
        </p>
    </article>
</section>
